@charset "utf-8";
/* CSS Document */
.progressive{position:relative;display:block;overflow:hidden;outline:none}.progressive img{display:block;width:100%;max-width:none;height:auto;border:0}.progressive img.preview{filter:blur(2vw);transform:scale(1.05)}.progressive img.reveal{position:absolute;left:0;top:0;will-change:transform,opacity;animation:progressiveReveal 1s ease-out}@keyframes progressiveReveal{0%{transform:scale(1.05);opacity:0}to{transform:scale(1);opacity:1}}
.background-div {
    width: 100%;
    background-color: #f3f3f3;
	overflow: hidden;
}
.transition:hover{
	transition:.15s ease-in-out !important;
	cursor:pointer;}
.landing-h1 {
    margin-left: 1.5%;
    font-weight: 700;
    color: #f18c8c;}
.header {
    background-color: #eea2a4;
}
.peach-hover {
    color: #ffae68;
}
.peach-hover:hover {
    color: #f98520;

}
.pink-hover {
    color: #eea2a4;
}
.pink-hover:hover {
    color: #f18c8c;

}
.big-white-div{
	overflow:hidden;
    padding-bottom: 30px;
}
.darkpink-hover{
    color: #f18c8c;	
}
.darkpink-hover:hover{
    color: #f16b6b;	
}
.article-title-a {
    font-weight: 700;
    font-size: 18px;
}
.footer-red{
	margin-top:0;
	background-color: #eea2a4;}
.grey-text{
	color:#b5b5b5;}
.text-content-div {
    height: 60px;
    overflow: hidden;
    width: 100%;
}
.menu-item {
    margin-top: 5px;
    font-size: 16px;
}
/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
  padding-top: 15px;
}

.dropdown-img{
	margin-right:10px;
	width: 10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}

.dl-menuwrapper{
	display:none;}
.before-dl{
	display:none;}
		
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: white;
  margin: auto;
  padding: 20px;
  margin-top:10vh;	
  width: 80%;
  border-radius: 10px;
}

/* The Close Button */
.close-css {
  color: #eaa2ae;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #dc788e;
  text-decoration: none;
  cursor: pointer;
}	
.dl-menuwrapper button:after{
	background: white;
	box-shadow: 0 10px 0 white, 0 20px 0 white;	
}
.dl-menuwrapper .dl-menu.dl-menuopen{
    background-color: #ffffff;
	min-height: 100vh;
	-webkit-box-shadow: -4px 15px 15px 5px rgba(255,26,91,0.13);
    box-shadow: -4px 15px 15px 5px rgba(255,26,91,0.13);	
}
.dl-menuwrapper li a {
	color: #eea2a4;
}
.min-height {
    min-height: calc(100vh - 54px);
}
.transparent-button{
	border:0;
	background:transparent;
	    padding: 0;}
.text-align-left{
	text-align:left;}
.darkpink-text{
	color:#f18c8c;
}
.title-h1{
	font-weight:900;}
.min-height2 {
    min-height: calc(100vh - 24px);
}
.login-modal-content {
    width: 40%;
}
.input-top-text {
    font-size: 12px;
    margin-bottom: 5px;
    
}
.aidex-input {
    width: 100%;
    border: 1px solid #f18c8c;
    border-radius: 20px;
    padding: 5px 10px;
	background-color: white;
}
.input-div {
    overflow: hidden;
	margin-top: 40px;
}
.pink-button {
    background-color: #eea2a4;
    border: 0;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    padding: 7px;
}
.pink-button:hover{
	background-color:#f18c8c;
	transition:.15s ease-in-out;
	cursor:pointer;	
}
.login-btn {
    width: 100%;
    margin-top: 20px;
}
.login-div {
    overflow: hidden;
    margin-top: 20px;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;}
.login-h1 {
    text-align: center;
    margin-top: -30px;
}
.login-modal-content {
    width: 40%;
    margin-top: calc(50vh - 173px);
}
.article-img1 {
    width: 100%;
}
.article-bg-img-box, .overwrite-img-a {
    width: 100%;
    overflow: hidden;
    height: 250px;
}
.padding-left-0{
	padding-left:0;}
.margin-left-0{
	margin-left:0;}
.login-input-div{
	margin-top:20px;}
.para-photo {
    margin-top: 10px;
}
.more-paragraph{
  width: 100%;
  overflow:hidden;
  display:none;
}
.add-button {
    margin-top: 20px;
    background-color: #ffae68;
    color: white;
    font-size: 16px;
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.add-button:hover{
	transition:.15s ease-in-out;
	cursor:pointer;
	background-color:#f98520;}
.table-css {
    width: 100%;
	border-collapse:collapse;
}
.table-css th {
    background-color: #eea2a4;
    color: white;
    padding: 5px 10px;
	font-weight: 800;
}
.table-css td {
    padding: 5px 10px;
	border-bottom: 1px solid #eea2a4;		
}
.ow-content-gap {
    border: 0;
    width: 100%;
}
.edit-btn {
    border: 0;
    background-color: #eea2a4;
    color: white;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 5px;
	word-break: keep-all;
}
.edit-btn:hover {
	background-color:#f18c8c;
	cursor:pointer;
	transition:.15s ease-in-out;}
.scroll-div {
    width: 100%;
	max-height:75vh;
    overflow: auto;
}
.blue-date {
    font-weight: 400;
    color: #c7c7c7;
}
p.article-p {
    margin-top: 55px;
	text-align: justify;
    text-align-last: center;
}
.border-div {
    width: 100%;
    border-top: 1px solid #eea2a4;
	margin-top: 50px;
}
.share-h3 {
    font-weight: 700;
}
#disqus_thread {
    padding-top: 30px;
}
.cover-photo {
	margin-bottom: 10px;
}
.left-contributor-div {
    width: 100%;
    margin-left: 0;}
.article-photo {
    margin-bottom: 10px;
    margin-top: 30px;
    width: 70%;
    margin-left: 15%;
}
.red-background-ow {
    background-color: #cc4848;
}
.red-background-ow:hover {
    background-color: #b52e2e;
}
.delete-btn {
    width: 90px;
    text-align: center;
}
.no-btn {
    float: left;
    width: 47%;
}
.yes-btn {
    width: 47%;
    float: left;
    margin-left: 6%;
}
.grey-button {
    font-size: 18px;
    border: 0;
    color: white;
    background-color: #e4d6d6;
    border-radius: 20px;
    padding: 7px;
}
.grey-button:hover{
    background-color: #dcc1c1;
	transition:.15s ease-in-out;
	cursor:pointer;	
	
}
.confirm-div{
	padding-top:50px;}
.right-menu-div {
    margin-top: -5px;
}
.logo-img {
    margin-top: 0;
}
.min-height {
    min-height: calc(100vh - 24px);
}
.green-bg-ow{
	background-color:#7bd8ce;	
}
.green-bg-ow:hover{
	background-color:#68cabf;	
}
.article-card{
	border:0 !important;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255,130,130,0.16);
    box-shadow: 0px 0px 15px 5px rgba(255, 68, 68, 0.12);
	margin-bottom: 12px;

}
.blog-content-div1 {
    width: 50% !important;
}	

.peach-text{
    color: #ffae68;
}
.source-p {
    color: #b9b9b9;
    margin-bottom: 30px;
	text-align:center;
	padding-left: 10px;
    padding-right: 10px;
	margin-top:0;
}
.tevy-textarea {
    border-radius: 5px;
	min-height: 170px;
}
.one-line-textarea{
    border-radius: 5px;}
.three-line-textarea{
    border-radius: 5px;}
.recommended {
    width:75% !important;
    margin-left: 12.5% !important;
    margin-right: 0 !important;
    margin-bottom: 30px !important;
}
.refer-png {
    height: 25px;
    margin-left: 5px;
}
.step-p {
    text-align: center;
    font-size: 21px;
    font-weight: 800;
	    margin-top: 50px;
}
.step-p2 {
    font-weight: 400;
    margin-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.tutorial-div img {
    width: 70%;
    margin-left: 15%;
	border: 2px solid #f18c8c;}
.close-btn {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.youtube-video-iframe {
    width: 100%;
    height: 500px;
}
.article-css-control iframe{
    width: 100%;
    height: 500px;
	margin-top: 20px;
    margin-bottom: 20px;
}
.article-css-control{ 
    width: 100%;
    overflow: hidden;
}

.article-css-control a {
    color: #ff8689 !important;
    text-decoration: underline !important;
}
.article-css-control a:hover {
	color:#d45054 !important;	
}
.article-css-control a span{
    color: #ff8689 !important;
    text-decoration: underline !important;
}
.article-css-control a span:hover {
	color:#d45054 !important;	
}
.article-css-control a span u{
    color: #ff8689 !important;
    text-decoration: underline !important;
}
.article-css-control a span u:hover {
	color:#d45054 !important;	
}
.article-css-control img {
	width: 70% !important;
    height: auto !important;
	margin-left:15%;
	margin-right:15%;
	clear:both;
	margin-top: 10px;
    margin-bottom: 10px;}
.article-css-control .feather-png {
    width: 20px !important;
    margin-top: 10px !important;
    margin-left: 5px !important;
	margin-right:0 !important;
}
.grey-bg-ow {
    background-color: #cccccc !important;
}
.grey-bg-ow:hover {
    background-color: #b7a7a7 !important;
}
.dl-menuwrapper li a{
    padding: 8px 20px;
    font-size: 14px;	
}
ul.dl-menu.dl-menuopen {
    overflow: auto;
    z-index: 999999;
    height: 100vh;
    padding-bottom: 55px;
}
.red-h1 {
    word-break: break-all;	
}
.overwrite-img-a{
    display: block;
    height: 250px;
    width: 30%;
    opacity: 0;
    position: absolute;
    z-index: 1;
}
.article-css-control table {
    width: calc(100% - 5px) !important;
    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	border-collapse: collapse !IMPORTANT;
}
.article-css-control div{
	margin-left:0 !important;
	margin-right:0 !important;}
.article-css-control td, th {
    padding: 3px 10px !important;
	border-collapse: collapse !important;
}
@media all and (max-width: 1600px) {
.menu-item {
    font-size: 14px;
}
.menu-margin-right {
    margin-right: 12px;
}
}
@media all and (max-width: 1500px) {
.blog-content-div1 {
    width: 70% !important;
}
}
@media all and (max-width: 1400px) {
.article-bg-img-box, .overwrite-img-a {
    height: 200px;
}
.tutorial-div img {
    width: 100%;
    margin-left: 0;}
}
@media all and (max-width: 1300px) {
.article-title-a {
    font-size: 16px;
}	
.cate-a {
    font-size: 12px;
}
.text-content-div {
    height: 55px;
    font-size: 13px;
}
.wrapm {
    margin-bottom: 5px;
}	
.menu-item {
    margin-top: 7px;
    font-size: 12px;
}
.menu-margin-right {
    margin-right: 10px;
}
}
@media all and (max-width: 1200px) {
.landing-h1 {
    font-size: 27px;
}
.source-p{
	font-size:12px;}
.youtube-video-iframe {
    height: 400px;
}
.article-css-control iframe {
	height: 400px;}
}
@media all and (max-width: 1100px) {
.menu-item{
	display:none;}
.before-dl {
    display: block;
}
.right-menu-div {
    margin-top: 0;
}
.left-logo-div {
    margin-top: 1px;
}


}
@media all and (max-width: 1050px) {
.landing-h1 {
    margin-top: 30px;
}

}
@media all and (max-width: 1000px) {
.article-bg-img-box, .overwrite-img-a {
    height: 150px;
}
.blog-content-div1 {
    width: 80% !important;
}
.refer-modal-content {
    width: 95%;
}
}
@media all and (max-width: 900px) {
.login-modal-content {
    width: 70%;}
.recommended {
    width: 80% !important;
    margin-left: 10% !important;}
.youtube-video-iframe {
    height: 350px;
}
.article-css-control iframe { {
    height: 350px;
}
}

@media all and (max-width: 800px) {
.three-line-textarea {
    min-height: 80px;
}
.step-p {
    font-size: 17px;
    font-weight: 700;}
.step-p2{
	width:100%;}
.article-css-control img {
    width: 100% !important;
    margin-left: 0;
	margin-right:0;}
}

@media all and (max-width: 783px) {
.landing-h1 {
    padding-top: 30px;
	text-align:center;
}
.blog-content-div1 {
    width: 100% !important;
    padding-top: 50px !important;
}
.orange-p {
    padding-left: 0;}		
.overwrite-img-a{
	    width: 40%;
}
}
@media all and (max-width: 700px) {
p.footer-p {
    padding-left: 0;
    text-align: center;
}
.article-bg-img-box, .overwrite-img-a {
    height: 150px;
}
p.article-p {
    font-size: 14px;
}
.test {
    width: 85%;
}
.same-padding {
    padding-left: 3.5%;
    padding-right: 3.5%;
}
.test {
    width: 93%;
}
.red-h1 {
    padding-left: 3.5%;
    padding-right: 3.5%;
}
.contributor-p, .blue-date {
    padding-left: 3.5%;
    padding-right: 3.5%;
}
.overwrite-img-a {
    width: 43.5%;
}
}
@media all and (max-width: 600px) {
.blog-content-div1 {
    width: 100% !important;
	    padding-left: 7.5%;
    padding-right: 7.5%;}
p.article-p {
    margin-top: 25px;
}
.youtube-video-iframe {
    height: 230px;
}
.article-css-control iframe {
    height: 230px;
}
}
@media all and (max-width: 550px) {
.article-bg-img-box, .overwrite-img-a {
    height: 110px;
}


}
@media all and (max-width: 500px) {
.recommended {
    width: 100% !important;
    margin-left: 0 !important;
}
.youtube-video-iframe {
    height: 180px;
}
.article-css-control iframe {
    height: 180px;
}
}
@media all and (max-width: 470px) {
.login-modal-content {
    width: 85%;
}

}
@media all and (max-width: 460px) {
.login-h1 {
    font-size: 27px;
}
.no-btn, .yes-btn {
    float: none;
    width: 100%;
	margin-left:0;
	margin-right:0;
	margin-bottom:20px;
}
}
@media all and (max-width: 420px) {
.landing-h1 {
    font-size: 21px;
}
}
@media all and (max-width: 400px) {
.article-title-a {
    font-size: 14px;
}
.wrapm {
    margin-bottom: 2px;
}
.text-content-div {
    height: 50px;
    font-size: 12px;
}
.article-bg-img-box, .overwrite-img-a {
    height: 90px;
}
.add-button {
    width: 100%;}
}
@media all and (max-width: 350px) {
.youtube-video-iframe {
    height: 140px;
}
.article-css-control iframe {
    height: 140px;
}
}
@media print {
#header{
	display:none;}
.hide-print{
	display:none;}	
.footer-red{
	display:none;}
.min-height2 {
    min-height: auto;
}
.min-height {
    min-height: auto;
}
}